[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = US
ST = State
L = City
O = Org
CN = 192.168.0.204

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.204
